* {
	box-sizing: border-box;
}

html {
	font-family: Verdana, sans-serif;
}

ul {
  list-style: none;
}

.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #58A4B0;
  
  z-index: 10;
}

.nav-list {
  display: flex;
  margin-right: 2rem;
}

.nav-list a {
  display: block;
  font-size: 1.5rem;
  padding: 1rem;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

/* ----- Layout ----- */
.flex--center {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.grid--auto-fill {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 0.5em;
}

/* ----- Navbar ----- */
#navbar {
	position: fixed;
	z-index: 10;
}



.navbar__links {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #a9bcd0;
	background-color: #1b1b1e;
}

.navbar__links.is-open {
	display: flex;
}

.navbar__links li {
	font-size: 2em;
	padding: 1em 0;
	text-transform: uppercase;
	cursor: pointer;
}

/* ----- Welcome section ----- */
#welcome-section {
	width: 100%;
	height: 100vh;
	text-align: center;
	background-color: #1b1b1e;
	color: #58a4b0;
}

.welcome__header {
	margin: 0;
	font-size: 4.5em;
}

.welcome__text {
	font-style: italic;
}

#fb{
  color:#4359A5;
  font-weight: bold;
}
/* ----- Projects Section ----- */
#projects {
	padding: 6em 1.5em;
	background-color: #d8dbe2;
}

.projects__header {
	font-size: 2em;
	text-align: center;
	text-transform: uppercase;
	color: #373f51;
}

.project {
	justify-self: center;
	min-width: 300px;
	margin: 1em;
	background-color: #fff;
	box-shadow: 0 0 20px -7px #000;
	border-radius: 6px;
	transition: 0.2s;
}

.project:hover {
	box-shadow: 0 7px 25px -10px #000;
	transform: translateY(-10px);
}

.project img {
	border-bottom: 3px solid #58a4b0;
	border-radius: 6px 6px 0 0;
}

.project__link {
	display: block;
}

.project__info {
	padding: 1em;
}

.project-title {
	font-size: 1.2em;
	letter-spacing: -0.8px;
	color: #58a4b0;
}

.project__details {
	font-size: 0.9em;
	color: #373f51;
}

/* ----- Contact section ----- */
.contact {
	padding: 5em 1.5em;
	background-color: #1b1b1e;
}

.contact .grid--auto-fill {
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.contact__item {
	position: relative;
	align-self: center;
	justify-self: center;
	width: 150px;
	margin: 1em 0;
}

.contact__item::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 3px;
	content: "";
	background-color: #58a4b0;
	transition: 0.13s;
}

.contact__item:hover::after {
	width: 100%;
}

.contact__item.fcc {
	width: 200px;
}

.contact__item img {
	padding: 0.5em 0;
}

.contact__item.github img {
	padding: 0;
}

/* ===== Media queries ===== */
@media only screen and (max-width: 570px) {
	.welcome__header {
		font-size: 2.5em;
	}
}
